/*Used to hide certain elements from view when appropriate*/
.hide{
    display: none;
}

h4{
    font-family: consolas;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*This container holds all 5 word lanes*/
#lane_wrapper{
    height: 60vh;
    text-align: center;
}

p{
    text-align: center;
    margin: 0;
    padding: 0;
}

/*This is the section where the user is typing*/
.target_word{
    height: 4vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
}

/*This container holds every element on the page*/
#full_box{
    min-height: 100%;
}

/*This is the block at the top of the page that holds the score information*/
#score{
    display: block;
    height: 10vh;
    width: 50vw;
    font-size: 40px;
    font-family: consolas;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

/*This style applies to all 5 word lanes*/
.lane{
    display: inline-block;
    height: 60vh;
    width: 10%;
    font-family: consolas;
    font-size: 40px;
    border: 2px solid #000000;
    border-radius: 25px;
    vertical-align: top;
    background-color: aquamarine;
}

/*This style applies to the section where the user is typing their words*/
#user_word{
    height: 10vh;
    width: 50vw;
    font-family:consolas;
    font-size: 70px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*This style applies to the section that displays the number of strikes*/
#strikes{
    height: 17vh;
    width: 50vw;
    font-family:consolas;
    font-size: 70px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 25px;
    margin: auto;
    background-color:crimson
}

/*This style applies to the window that displays after a lose condition is met*/
#retry{
    position: absolute;
    width: 70vw;
    top: 40vh;
    left: 15vw;
    z-index: 1;
    font-family: consolas;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

/*This style applies to the game over text in the end game window*/
#game_over{
    font-family: consolas;
    font-size: 90px;
}

/*This style applies to the final score display in the end game window*/
#final_score{
    font-family: consolas;
    font-size: 40px;
    padding-bottom: 40px;
}

/*This style applies to the retry button in the end game window*/
.retry_button{
    width: 10vw;
    font-family: consolas;
    font-size: 20px;
    border: 5px solid #000000;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
}

.retry_button:hover{
    cursor: pointer;
}

/*This style applies to the instructions window when the game is first loaded*/
#instructions{
    position: absolute;
    width: 70vw;
    top: 22vh;
    left: 15vw;
    z-index: 1;
    font-family: consolas;
    text-align:left;
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

/*This style applies to the "Got it!" button in the instructions window*/
#got_it{
    font-family: consolas;
    font-size:30px;
    border: 5px solid black;
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.got_it:hover{
    cursor: pointer;
}

/*This style applies to the good luck text in the instructions window*/
#good_luck{
    font-family: consolas;
    font-size: 40px;
}


